@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

html {
  font-family: "Inter";
}

body {
  padding: 0;
  margin: 0;
}

#root {
  isolation: isolate;
}

@theme {
  --color-Surface: #e6e6e6;
  --color-Surface-Hover: #f7f8f8;
  --color-Primary: #1a1a1d;
  --color-Card: #141516;
  --color-Card-Hover: #191a1b;
  --color-Secondary: #28282c;
  --color-Tertiary: #8a8f98;
  --color-Primary-Hover: #323237;
  --color-Background: #08090a;
  --color-Bento-Border: #1d1d1e;
  --color-Outline: #007def;
  --color-Accent-Cyan: #02b8cc;
  --color-Accent-Green: #68cc58;
  --color-Accent-Yellow: #d4b144;
    --color-Accent-Purple: #b59aff;
    --color-WorkFlow-Card: #101011;
    --color-WorkFlow-Card-Hover: #121213;

  --font-Inter: "Inter"
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

::view-transition-group(card-0),
::view-transition-group(card-1),
::view-transition-group(card-2),
::view-transition-group(image-0),
::view-transition-group(image-1),
::view-transition-group(image-2),
::view-transition-group(heading-0),
::view-transition-group(heading-1),
::view-transition-group(heading-2) {
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .animate-marquee-mobile {
    display: flex;
    width: max-content;
    animation: marquee 20s linear infinite;
  }
}